.subGeneralProject1{
  height: 100%;
  width: 100vw;
  background-color: #282e3f;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.textCarding1{
  padding-top: 30px;
  /* background-color: chocolate; */
}

.textDiff1{
  text-align: center;
  margin-top: 50px;
  color: #b1976b;;
}

.projs1{
  font-size: 20px;
}

.rece1{
  font-size: 50px;
  font-weight: bold;
  margin-top: -25px;
  color: white;
}

.generalCardHold1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

@media (max-width: 768px) {
  .generalCardHold1{
    display: flex;
    flex-direction: column;
  }
}

.cardDiff1{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.mainCardings1{
  height: 350px;
  width: 250px;
  background-color: black;
  margin-bottom: 50px;
  border-radius: 5px;
}

.cardPixxx1{
  height: 350px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.3;
}

.textCardPix1{
  margin-top: -90px;
  margin-left: 20px;
  color: white;
}

.bigOne1{
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
}